.LateralDireita{
    padding: 10px;
    width: 300px;
    padding-top: 55px;
}

.ConteinerHeaderDireito .HeaderDireito .Borda{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid var(--cinza-footer);
    overflow: hidden;
    padding: 1px;
}

.ConteinerHeaderDireito .HeaderDireito .Borda img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.ConteinerHeaderDireito{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.ConteinerHeaderDireito .HeaderDireito{
    display: flex;
    align-items: center;
    gap: 10px;
}

.ConteinerSugestoes .titleSugestoes{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 10px ;
}

.ConteinerSugestoes .titleSugestoes p{
    cursor: pointer;
}

.ConteinerSugestoes img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.ConteinerSugestoes .Sugestoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.ConteinerSugestoes .Sugestoes .Sugestoes02{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.ConteinerSugestoes .Sugestoes .Sugestoes02 span{
    cursor: pointer;
}

.FooterDireito{
    margin-top: 50px;
}

.FooterDireito p{
    padding-bottom: 30px;
    list-style: none;
    color: var(--cinza-footer);
}

.FooterDireito p a{
    font-size: 12px;
    list-style: none;
    text-decoration: none;
    color: var(--cinza-footer);
}

.FooterDireito p a:hover{
    text-decoration: underline;
}

.textAlternative{
    font-size: 12px;

}

.colorCinza{
    color: rgb(121, 120, 120);
}

.colorAzul{
    color: rgb(57, 148, 252);
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
}

.strong{
    font-weight: 650;
}

.strong2{
    font-weight: 600;
}

.texto-footer{
    opacity: 0.4;
}

.textAlternative{
    font-size: 12px;
}